@font-face {
    font-family: 'UTMHelve';
    src: url('fonts/UTMHelve.eot');
    src: url('fonts/UTMHelve.eot') format('embedded-opentype'),
         url('fonts/UTMHelve.woff2') format('woff2'),
         url('fonts/UTMHelve.woff') format('woff'),
         url('fonts/UTMHelve.ttf') format('truetype'),
         url('fonts/UTMHelve.svg#UTMHelve') format('svg');
}
